.page-about .header-bg {
    opacity: 0;
    visibility: hidden;
}


#about{
    background-image: url("../Assets/images/trianglify-satin.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 15vh;
    padding-right: 10vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
    flex-direction: column;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
}



.major-title{
    color: var(--gray-dark);
}

.-purple{
    color: var(--bg);
}

.sub-title{
    color: var(--mint);
}

.-gray{
    color: var(--bg);
}

#about .about-contact {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 2rem 0;
}
#about .about-contact li {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    list-style: none;
    margin: 0 1rem 0 0;
    color: var(--gray);
}
#about .about-contact a {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    text-decoration: none;
}
#about .about-contact a.bt {
    background: var(--purple);
    color: var(--bg);
    padding: 0 1rem;
    height: 2rem;
    border-radius: 3rem;
    margin-left: 1rem;
    line-height: 2rem;
}
#about .about-contact a.bt .ico {
    margin-left: 0.5rem;
    height: 14px;
    width: 14px;
}
#about .about-contact a.bt:hover {
    background: var(--light);
}
#about .about-contact a .ico {
    flex: 0 0 auto;
    overflow: visible;
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--bg);
    fill: var(--orange);
    stroke-width: 2px;
    transition: all 400ms ease-out;
}
#about .about-contact a:hover .ico {
    fill: var(--light);
}
#about .about-grid {
    padding: 3rem 2rem 0 0;
    margin-right: -25vw;
    width: 75vw;
}
#about .about-grid h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--orange);
}
#about .about-grid .columns {
    margin-bottom: 3rem;
}
#about .about-grid ul {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 1rem;
}
#about .about-grid li {
    list-style: none;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--gray);
}
#about .about-grid .tools {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 1rem;
}
#about .about-grid .tools ul {
    display: block;
}


/* @media screen and (max-width: 1024px) {
    #about:before {
        position: absolute;
        width: 100%;
        height: 60vh;
   }
    #about .about-grid {
        padding: 3rem 1rem 0 0;
        margin: 0;
        width: calc(100vw - 4rem);
   }
} */


@media screen and (max-width: 1024px) {

    #about{
        padding-left: 12vh;
        padding-right: 12vh;
    }

    #about .about-grid ul {
        grid-template: 1fr / repeat(3, 1fr);
   }
}


@media screen and (max-width: 768px) {

    #about{
        padding-left: 10vh;
        padding-right: 10vh;
    }

    #about .about-grid ul {
        grid-template: 1fr / repeat(2, 1fr);
   }
}


@media screen and (max-width: 568px) {

    #about{
        padding-left: 5vh;
        padding-right: 5vh;
    }

    #about .about-grid .columns {
        margin-bottom: 4rem;
    }

    #about .about-grid ul {
        grid-template: 1fr / 1fr;
        grid-gap: 1rem;
   }

    #about .about-contact {
        flex-flow: row wrap;
   }
    #about .about-contact li:last-child {
        flex: 0 0 100%;
        margin: 1rem 0 0;
   }
}
