nav{
    height: 50px;
    border: 1px solid #0D1321;
    background-color: #0D1321;
}

.div-header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.div-header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20;
    align-items: center;
}

.div-header-logo{
    height: 30px;
}

.div-svg{
    height: 25px;
    width: 25px;
    padding: 0 60px;
    color: #EFF1F3;
    text-decoration: none;
}