* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

:root{
  --mint: #3DC9B3;
  --gray-light: #dbdbdb;
  --gray-medium: #6c757d;
  --gray-dark: #333333;
  --white:#F3F5F8; 
  --orange: #F16000;
    
}